*.pyc
*.bat
*.txt
*.png
tmp*.*
*tmp.*
*.xml
*.log
.idea
*.htm?
tmp_*
tmp
report
codestyles
_windows
__pycache__
pTests/*.*
pabot_results
.pabot*
*log.txt
.vscode
.idea
.ipynb_checkpoints
.virtual_documents
browser
auth.json
